*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* CSS for nav */
.nav-container{
    color: white;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    /* usiing justify-content to center nav horizontally */
    justify-content: center;
}
  
.nav{
    width: 75%;
    display:flex;
    /* usiing justify-content to align date and links horizontally */
    justify-content: space-between;
}
  
.links{
    display: flex;
    /* usiing justify-content to align signup and login horizontally */
    justify-content: flex-end;
}
  
.login{
    margin-left: 15px;
}

/* CSS for demonstrating flex property */
.flex-container{
    border: 4px solid #ffcc5c;
    background-color: #ffeead;
    margin: 20px;
    display: flex;
}

.flex-container div{
    color: #ffeead;
    padding: 10px;
    text-align: center;
    /* flex is a shorthand for 3 properties flex-grow, flex-shrink and flex-basis */
    /* writing flex: 1 --> flex: 1 1 0 (flex-grow: 1, flex-shrink: 1, flex-basis: 0) */
    flex: 1;
}

.home{
    background-color: #96ceb4;
    /* flex-grow: ;
    flex-shrink: ;
    flex-basis: ; */
} 

.profile{
    background-color: #ff6f69;
}

.contact{
    background-color: #96ceb4;
}
  
/* CSS for demonstrating Main Axis */
.main-axis{
    border: 2px solid sienna;
    background-color: lightblue;
    height: 500px;
    margin: 30px;
    padding: 20px;
    display: flex;
    /* using justify-content to align items horizontally*/
    justify-content: space-around;
    /* using align-items to align items vertically*/
    align-items: center;
}
  
.main-axis .item{
    border: 2px solid sienna;
    background-color: salmon;
    height: 200px;
    width: 200px;
    padding: 5px;
}
  
/* CSS for demonstrating Cross Axis */
.cross-axis{
    border: 2px solid sienna;
    background-color: lightblue;
    height: 900px;
    margin: 30px;
    padding: 20px;
    display: flex;
    /* Changing the axis using flex-direction*/
    flex-direction: column;
    /* using align-items to align items horizontally*/
    align-items: center;
    /* using justify-content to align items vertically*/
    justify-content: space-around;
}
  
.cross-axis .item{
    border: 2px solid sienna;
    background-color: salmon;
    height: 150px;
    width: 150px;
    padding: 5px;
}