*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* CSS for nav */
.nav-container{
    color: white;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    /* usiing justify-content to center nav horizontally */
    justify-content: center;
}
  
.nav{
    width: 75%;
    display:flex;
    /* usiing justify-content to align date and links horizontally */
    justify-content: space-between;
}
  
.links{
    display: flex;
    /* usiing justify-content to align signup and login horizontally */
    justify-content: flex-end;
}
  
.login{
    margin-left: 15px;
}

/* CSS for demonstrating flex property */
.flex-container{
    border: 4px solid #ffcc5c;
    background-color: #ffeead;
    margin: 20px;
    display: flex;
}

.flex-container div{
    color: #ffeead;
    padding: 10px;
    text-align: center;
    /* flex is a shorthand for 3 properties flex-grow, flex-shrink and flex-basis */
    /* writing flex: 1 --> flex: 1 1 0 (flex-grow: 1, flex-shrink: 1, flex-basis: 0) */
    flex: 1;
}

.home{
    background-color: #96ceb4;
    /* flex-grow: ;
    flex-shrink: ;
    flex-basis: ; */
} 

.profile{
    background-color: #ff6f69;
}

.contact{
    background-color: #96ceb4;
}
  
/* CSS for demonstrating Main Axis */
.main-axis{
    border: 2px solid sienna;
    background-color: lightblue;
    height: 500px;
    margin: 30px;
    padding: 20px;
    display: flex;
    /* using justify-content to align items horizontally*/
    justify-content: space-around;
    /* using align-items to align items vertically*/
    align-items: center;
}
  
.main-axis .item{
    border: 2px solid sienna;
    background-color: salmon;
    height: 200px;
    width: 200px;
    padding: 5px;
}
  
/* CSS for demonstrating Cross Axis */
.cross-axis{
    border: 2px solid sienna;
    background-color: lightblue;
    height: 900px;
    margin: 30px;
    padding: 20px;
    display: flex;
    /* Changing the axis using flex-direction*/
    flex-direction: column;
    /* using align-items to align items horizontally*/
    align-items: center;
    /* using justify-content to align items vertically*/
    justify-content: space-around;
}
  
.cross-axis .item{
    border: 2px solid sienna;
    background-color: salmon;
    height: 150px;
    width: 150px;
    padding: 5px;
}

/* CSS for demonstrating gap and align-self property */
.container{
    border: 4px solid brown;
    height: 200px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adds space between items */
    gap: 10px;
}
  
.container div{
    border: 4px solid brown;
    height: 50px;
    width: 50px;
}
  
.container .two{
    /* targets the specified item to change it's alignment */
    align-self: flex-start;
}

/* CSS for demonstrating how flexbox changes the width 'Hypothetical size' */
.row {
    list-style-type: none;
    padding: 16px;
}
  
.l-item {
    height: 50px;
    border: 2px solid;
    border-radius: 4px;
    background: hotpink;
    margin: 16px;
}
  
.flex-wrapper {
    display: flex;
}
    
.l-item {
    width: 2000px;
}

/* CSS for demonstrating the effect to auto margin in flexbox */
.navbar{
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px;
    display: flex;
    gap: 15px;
}
  
.logo{
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    /* here setting margin to auto takes up the extra space and apply it to the elements margin */
    margin-right: auto;
}

/* CSS for demonstrating flex-wrap */
.outer{
    border: 4px solid brown;
    margin: 10px;
    height: 1000px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    /* moves the items into next row without shrinking */
    flex-wrap: wrap;
    /* used to align the content (group for rows) */
    align-content: center;
}
  
.outer div{
    border: 4px solid brown;
    flex-basis: 200px;
    height: 200px;
}