*{
    padding: 0;
    border: 0;
    margin: 0;
}

/* It is a standard box-model so height and width will exclude padding and border */
.box-one{
    width: 100px;
    height: 100px;
    background-color:cornflowerblue;
    padding: 20px;
    border: 30px solid palevioletred;
    margin: 40px;
}

/* It is the alternative box-model, it uses border box - so height and width will include padding and border */
.box-two{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: lightpink;
    padding: 20px;
    border: 30px solid lightblue;
    margin: 40px;
}